<header class="site-header" role="banner">
  <div class="wrapper">
      <!-- Navigation -->
      <nav class="navbar">
        <div class="nav-container">
            <a href="{{ '/' | relative_url }}" class="nav-logo">
                {{ site.title }}
            </a>

            <div class="nav-menu" id="nav-menu">
                <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
                <a href="/about#about" class="nav-link">About</a>
                <a href="/about#skills" class="nav-link">Skills</a>
                <a href="/about#projects" class="nav-link">Projects</a>
                <a href="/about#experience" class="nav-link">Experience</a>
                <a href="/blog" class="nav-link">Blog</a>
                <a href="/about#contact" class="nav-link">Contact</a>
            </div>

            <div class="nav-toggle" id="nav-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
   </div>
</header>
{% include google.html %}
